.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.WindowFrame.BufferWindow > .BufferLine > span > a {
  color: darkgoldenrod;
}

.WindowFrame.BufferWindow > .BufferLine > span > a:hover {
  color: maroon;
}
